aiosqlite
chromadb
fastapi
langchain-core
langchain-ollama
langchain-openai
langgraph
pydantic
pydantic-settings
magic-pdf[full]
python-dotenv
python-multipart
tavily-python
uvicorn[standard]

# test
pytest
